# Conectar base de datos

In [8]:
import psycopg2

# Parámetros de conexión
dbname = "NotesStudy"
user = "postgres"
password = "1234"
host = "localhost"  # Cambia esto si la base de datos está en un host diferente
port = "5432"  # Puerto por defecto de PostgreSQL

# Establecer la conexión
try:
    connection = psycopg2.connect(
        dbname=dbname, user=user, password=password, host=host, port=port
    )
    print("Conexión exitosa a la base de datos")
except psycopg2.Error as e:
    print("Error al conectarse a la base de datos:", e)

Conexión exitosa a la base de datos

## Crear tablas relacionadas SQL

In [9]:
""" CREATE TABLE alumno (
    id_alumno    INTEGER NOT NULL,
    promedio     FLOAT,
    semestre     INTEGER,
    anio_entrada INTEGER,
    sexo         VARCHAR(10),
    edad         INTEGER
);

ALTER TABLE alumno ADD CONSTRAINT alumno_pk PRIMARY KEY ( id_alumno );

CREATE TABLE apoyoeconomico (
    id_alumno           INTEGER NOT NULL,
    localidad           VARCHAR(300),
    estrato             INTEGER,
    transporte          VARCHAR(100),
    personas_en_casa    INTEGER,
    apoyo_universitario FLOAT,
    num_hijos           INTEGER,
    tiempo_transporte   INTEGER
);

CREATE TABLE asistencia (
    id_alumno             INTEGER NOT NULL,
    faltas_justificadas   INTEGER,
    faltas_injustificadas INTEGER
);

CREATE TABLE materia (
    id_materia     INTEGER NOT NULL,
    nombre_materia VARCHAR(255),
    creditos       VARCHAR(255),
    horario        TIMESTAMP,
    profesor       INTEGER NOT NULL
);

ALTER TABLE materia ADD CONSTRAINT materia_pk PRIMARY KEY ( id_materia );

CREATE TABLE nota (
    id_materia          INTEGER NOT NULL,
    id_alumno           INTEGER NOT NULL,
    nota_final          FLOAT,
    grupo               VARCHAR(20),
    horario             TIMESTAMP,
    registro_asistencia INTEGER,
    horas_estudiadas    INTEGER
);

CREATE TABLE profesor (
    id_profesor          INTEGER NOT NULL,
    nombre_profesor      VARCHAR(255),
    semestre             INTEGER,
    grupo                VARCHAR(10),
    num_estudiantes      INTEGER,
    facultad             VARCHAR(100),
    titulo_universitario VARCHAR(200),
    id_materia           INTEGER
);

ALTER TABLE profesor ADD CONSTRAINT profesor_pk PRIMARY KEY ( id_profesor );

ALTER TABLE asistencia
    ADD CONSTRAINT asistencia_alumno_fk FOREIGN KEY ( id_alumno )
        REFERENCES alumno ( id_alumno );

ALTER TABLE materia
    ADD CONSTRAINT table_3_profesor_fk FOREIGN KEY ( profesor )
        REFERENCES profesor ( id_profesor );

ALTER TABLE apoyoeconomico
    ADD CONSTRAINT table_6_alumno_fk FOREIGN KEY ( id_alumno )
        REFERENCES alumno ( id_alumno );

ALTER TABLE nota
    ADD CONSTRAINT table_7_alumno_fk FOREIGN KEY ( id_alumno )
        REFERENCES alumno ( id_alumno );

ALTER TABLE nota
    ADD CONSTRAINT table_7_materia_fk FOREIGN KEY ( id_materia )
        REFERENCES materia ( id_materia ); """

' CREATE TABLE alumno (\n    id_alumno    INTEGER NOT NULL,\n    promedio     FLOAT,\n    semestre     INTEGER,\n    anio_entrada INTEGER,\n    sexo         VARCHAR(10),\n    edad         INTEGER\n);\n\nALTER TABLE alumno ADD CONSTRAINT alumno_pk PRIMARY KEY ( id_alumno );\n\nCREATE TABLE apoyoeconomico (\n    id_alumno           INTEGER NOT NULL,\n    localidad           VARCHAR(300),\n    estrato             INTEGER,\n    transporte          VARCHAR(100),\n    personas_en_casa    INTEGER,\n    apoyo_universitario FLOAT,\n    num_hijos           INTEGER,\n    tiempo_transporte   INTEGER\n);\n\nCREATE TABLE asistencia (\n    id_alumno             INTEGER NOT NULL,\n    faltas_justificadas   INTEGER,\n    faltas_injustificadas INTEGER\n);\n\nCREATE TABLE materia (\n    id_materia     INTEGER NOT NULL,\n    nombre_materia VARCHAR(255),\n    creditos       VARCHAR(255),\n    horario        TIMESTAMP,\n    profesor       INTEGER NOT NULL\n);\n\nALTER TABLE materia ADD CONSTRAINT materia_pk PRIMARY KEY ( id_materia );\n\nCREATE TABLE nota (\n    id_materia          INTEGER NOT NULL,\n    id_alumno           INTEGER NOT NULL,\n    nota_final          FLOAT,\n    grupo               VARCHAR(20),\n    horario             TIMESTAMP,\n    registro_asistencia INTEGER,\n    horas_estudiadas    INTEGER\n);\n\nCREATE TABLE profesor (\n    id_profesor          INTEGER NOT NULL,\n    nombre_profesor      VARCHAR(255),\n    semestre             INTEGER,\n    grupo                VARCHAR(10),\n    num_estudiantes      INTEGER,\n    facultad             VARCHAR(100),\n    titulo_universitario VARCHAR(200),\n    id_materia           INTEGER\n);\n\nALTER TABLE profesor ADD CONSTRAINT profesor_pk PRIMARY KEY ( id_profesor );\n\nALTER TABLE asistencia\n    ADD CONSTRAINT asistencia_alumno_fk FOREIGN KEY ( id_alumno )\n        REFERENCES alumno ( id_alumno );\n\nALTER TABLE materia\n    ADD CONSTRAINT table_3_profesor_fk FOREIGN KEY ( profesor )\n        REFERENCES profesor ( id_profesor );\n\nALTER TABLE apoyoeconomico\n    ADD CONSTRAINT table_6_alumno_fk FOREIGN KEY ( id_alumno )\n        REFERENCES alumno ( id_alumno );\n\nALTER TABLE nota\n    ADD CONSTRAINT table_7_alumno_fk FOREIGN KEY ( id_alumno )\n        REFERENCES alumno ( id_alumno );\n\nALTER TABLE nota\n    ADD CONSTRAINT table_7_materia_fk FOREIGN KEY ( id_materia )\n        REFERENCES materia ( id_materia ); '

## Test inicial

In [15]:
# Agregar valores de ejemplo a la base de datos
try:
    connection = psycopg2.connect(
        dbname=dbname, user=user, password=password, host=host, port=port
    )
    print("Conexión exitosa a la base de datos")

    # Agregar valores de prueba
    cursor = connection.cursor()
    cursor.execute("INSERT INTO alumno (id_alumno, promedio, semestre) VALUES (1, 85.0, 2)")
    connection.commit()
    print("Valores de prueba insertados correctamente")

    cursor.close()

except psycopg2.Error as e:
    print("Error al conectarse a la base de datos:", e)

Conexión exitosa a la base de datos
Valores de prueba insertados correctamente

In [16]:
try:
    connection = psycopg2.connect(
        dbname=dbname, user=user, password=password, host=host, port=port
    )
    print("Conexión exitosa a la base de datos")

    # Consulta para obtener los datos insertados
    consulta = "SELECT * FROM alumno"
    cursor = connection.cursor()
    cursor.execute(consulta)
    resultados = cursor.fetchall()

    # Imprimir los resultados
    for fila in resultados:
        print(fila)

    cursor.close()

except psycopg2.Error as e:
    print("Error al conectarse a la base de datos:", e)

Conexión exitosa a la base de datos
(1, 85.0, 2, None, None, None)

In [17]:
try:
    connection = psycopg2.connect(
        dbname=dbname, user=user, password=password, host=host, port=port
    )
    print("Conexión exitosa a la base de datos")

    # Consulta para eliminar los datos de prueba
    consulta = "DELETE FROM alumno WHERE id_alumno = 1"  # Cambiar según el valor de prueba que insertaste
    cursor = connection.cursor()
    cursor.execute(consulta)
    connection.commit()
    print("Datos de prueba eliminados correctamente")

    cursor.close()

except psycopg2.Error as e:
    print("Error al conectarse a la base de datos:", e)

Conexión exitosa a la base de datos
Datos de prueba eliminados correctamente

# Agregar datos de prueba (INSERT 100 datos)

In [25]:
import psycopg2
from faker import Faker  # Librería para generar datos falsos

# Parámetros de conexión
dbname = "NotesStudy"
user = "postgres"
password = "1234"
host = "localhost"
port = "5432"

# Crear una instancia de Faker
faker = Faker()

# Generar 100 datos de prueba para cada tabla
alumnos = [(i, faker.pyfloat(min_value=0, max_value=5), faker.random_int(min=1, max=8),
            faker.random_int(min=2000, max=2022), faker.random_element(["Masculino", "Femenino"]), 
            faker.random_int(min=16, max=26)) for i in range(1, 101)]

apoyos = [(i, faker.city(), faker.random_int(min=1, max=6), faker.random_element(["Bus", "Metro", "Bicicleta"]), 
           faker.random_int(min=1, max=6), faker.random_int(min=0,max=10000000),
           faker.random_int(min=0, max=2), faker.random_int(min=5, max=120)) for i in range(1, 101)]

asistencias = [(i, faker.random_int(min=0, max=20), faker.random_int(min=0, max=20)) for i in range(1, 101)]

# Generar horarios en el formato de intervalo
horarios = [f"{faker.random_int(min=1, max=12)}:{faker.random_element(['00', '15', '30', '45'])}{faker.random_element(['am', 'pm'])} - {faker.random_int(min=1, max=12)}:{faker.random_element(['00', '15', '30', '45'])}{faker.random_element(['am', 'pm'])}" for _ in range(1, 101)]

# Insertar datos en la tabla materia
materias = [(i, faker.catch_phrase(), faker.random_int(min=1, max=5),
             horarios[i-1], faker.random_int(min=1, max=100)) for i in range(1, 101)]


profesores = [(i, faker.name(), faker.random_int(min=1, max=8), faker.random_element(["A", "B", "C"]),
               faker.random_int(min=1, max=50), faker.job(), faker.job(),
               faker.random_int(min=1, max=100)) for i in range(1, 101)]

notas = [(i, j, faker.pyfloat(min_value=0, max_value=5),
          faker.random_element(["A", "B", "C"]), faker.date_time_this_year(),
          faker.random_int(min=1, max=10), faker.random_int(min=1, max=10)) for i in range(1, 101) for j in range(1, 101)]

# Insertar datos de prueba en la base de datos
try:
    connection = psycopg2.connect(
        dbname=dbname, user=user, password=password, host=host, port=port
    )
    print("Conexión exitosa a la base de datos")

    cursor = connection.cursor()

    # Insertar datos en la tabla alumno
    insert_query = "INSERT INTO alumno (id_alumno, promedio, semestre, anio_entrada, sexo, edad) VALUES (%s, %s, %s, %s, %s, %s)"
    cursor.executemany(insert_query, alumnos)

    # Insertar datos en la tabla apoyoeconomico
    insert_query = "INSERT INTO apoyoeconomico (id_alumno, localidad, estrato, transporte, personas_en_casa, apoyo_universitario, num_hijos, tiempo_transporte) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.executemany(insert_query, apoyos)

    # Insertar datos en la tabla asistencia
    insert_query = "INSERT INTO asistencia (id_alumno, faltas_justificadas, faltas_injustificadas) VALUES (%s, %s, %s)"
    cursor.executemany(insert_query, asistencias)

    # Insertar datos en la tabla profesor
    insert_query = "INSERT INTO profesor (id_profesor, nombre_profesor, semestre, grupo, num_estudiantes, facultad, titulo_universitario, id_materia) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.executemany(insert_query, profesores)

    # Insertar datos en la tabla materia
    insert_query = "INSERT INTO materia (id_materia, nombre_materia, creditos, horario, profesor) VALUES (%s, %s, %s, %s, %s)"
    cursor.executemany(insert_query, materias)


    # Insertar datos en la tabla nota
    insert_query = "INSERT INTO nota (id_materia, id_alumno, nota_final, grupo, horario, registro_asistencia, horas_estudiadas) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    cursor.executemany(insert_query, notas)

    connection.commit()
    print("Datos de prueba insertados correctamente")

    cursor.close()

except psycopg2.Error as e:
    print("Error al conectarse a la base de datos:", e)

Conexión exitosa a la base de datos
Error al conectarse a la base de datos: la sintaxis de entrada no es válida para tipo timestamp: «8:30pm - 7:00am»
LINE 1: ...r) VALUES (1, 'Versatile radical flexibility', 4, '8:30pm - ...
                                                             ^

In [21]:
import psycopg2

# Parámetros de conexión
dbname = "NotesStudy"
user = "postgres"
password = "1234"
host = "localhost"
port = "5432"

try:
    connection = psycopg2.connect(
        dbname=dbname, user=user, password=password, host=host, port=port
    )
    print("Conexión exitosa a la base de datos")

    cursor = connection.cursor()

    # Eliminar los datos anteriores
    cursor.execute("DELETE FROM nota")
    cursor.execute("DELETE FROM asistencia")
    cursor.execute("DELETE FROM apoyoeconomico")
    cursor.execute("DELETE FROM materia")
    cursor.execute("DELETE FROM profesor")
    cursor.execute("DELETE FROM alumno")

    # ... Generación de nuevos datos de prueba ...

    # Insertar nuevos datos de prueba
    # ...

    connection.commit()
    print("Datos de prueba reemplazados correctamente")

    cursor.close()

except psycopg2.Error as e:
    print("Error al conectarse a la base de datos:", e)

Conexión exitosa a la base de datos
Datos de prueba reemplazados correctamente